.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  background-color: #121212;
  color: #ffffff;
}

.chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}

.chat-header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.chat-header-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #00ffcc;
}

.chat-header-username {
  font-size: 1.5em;
  font-weight: bold;
  color: #00ffcc;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 20px;
}

.message {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  position: relative;
  color: #ffffff;
}

.sent {
  background-color: #007bff;
  align-self: flex-end;
  margin-left: auto;
}

.received {
  background-color: #333;
  align-self: flex-start;
  margin-right: auto;
}

.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-username {
  font-size: 1em;
  font-weight: bold;
  color: #00ffcc;
}

.message-time {
  font-size: 0.8em;
  color: #777;
  position: absolute;
  bottom: -15px;
  right: 10px;
}

.message-input-chat {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #333;
}

.message-input-chat .unique-input-classname {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 20px;
  margin-right: 10px;
  background-color: #1e1e1e;
  color: #ffffff;
}

.message-input-chat .unique-input-classname::placeholder {
  color: #777;
}

.message-input-chat .button-send-message {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  flex-shrink: 0;
}

.message-input-chat .button-send-message:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0066;
  text-align: center;
  margin-top: 20px;
}

.loading-message {
  color: #00ffcc;
  text-align: center;
  margin-top: 20px;
}