.user-list-page {
  margin-top: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-box {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.user-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.rounded-border {
  border: 2px solid #000;
}

.username {
  color: black;
}

.user-info {
  color: black;
}

.page-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}