.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #121212;
  color: #ffffff;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.title-container {
  text-align: center;
}

.title {
  font-size: 2rem;
  color: #00ffcc;
  font-weight: bolder;
  font-family: 'Bungee Spice', cursive;
}

.welcome-message, .about-message, .welcome-back-message {
  margin: 5px 0;
  font-size: 1rem;
  color: #aaaaaa;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #00ffcc;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  background: #2a2a2a;
  color: #ffffff;
}

input::placeholder {
  color: #777;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0066;
  margin: 0;
  margin-top: 5px;
}

.register-message {
  margin-top: 10px;
  color: #aaaaaa;
}

.register-message a {
  color: #00ffcc;
  text-decoration: none;
}

.register-message a:hover {
  text-decoration: underline;
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.google-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .login-header {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
  }
}