.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center; /* Center align text */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.signup-header {
    display: flex;
    flex-direction: column; /* Change to column for responsive */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px; /* Adjust margin for responsive */
}

.title-container {
    text-align: center;
}

.title {
    font-size: 2rem;
    color: #333;
    font-weight: bolder;
}

.welcome-message, .about-message {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
}

input::placeholder {
    color: #999;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin: 0;
    margin-top: 5px;
}

.login-message {
    margin-top: 10px;
    color: #555;
}

.login-message a {
    color: #007bff;
    text-decoration: none;
}

.login-message a:hover {
    text-decoration: underline;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

.google-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

@media (max-width: 768px) {
    .signup-header {
        flex-direction: column; /* Stack logo and title vertically */
    }

    .logo {
        margin-bottom: 10px; /* Add space below logo */
    }
}